<% form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>

  <!--
  <p>
    <%= f.label :total_score %><br />
    <%= f.text_field :total_score %>
  </p>
  <p>
    <%= f.label :rq_score %><br />
    <%= f.text_field :rq_score %>
  </p>
  -->

  <%# todo: paginate %>

  <p>&nbsp;</p>
  <hr />
  <p>&nbsp;</p>

  <% f.fields_for :responses do |r| %>
    <%# Assemble response form from properties of the associated question %>
  	<%= r.label :value, r.object.question.text %><br />
	<%# todo: randomize directions %>

	<div class="slide">
		<div align="left" class="left-label">
			<%= r.object.question.lower_title %>
		</div>
		<div align="right" class="right-label">
			<%= r.object.question.upper_title %>
		</div>
		<div class="slider" id="slider_<%= r.object.question.id - 1 %>"></div>
	</div>
	<script type="text/javascript">
		$("#slider_<%= r.object.question.id - 1 %>").slider({ 
			max: 10, 
			min: 1, 
			value: <%= r.object.value %>,
			change: function(event, ui) {
				$("#survey_responses_attributes_<%= r.object.question.id - 1 %>_value").val(ui.value);
			}
		} );
	</script>
	<%= r.hidden_field :value, :value => r.object.value %>
	<%= r.hidden_field :question_id, :value => r.object.question.id %>
	<br /><br />
  <% end %>

  <p><%= f.submit "Submit" %></p>

<% end %>
