<% form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :total_score %><br />
    <%= f.text_field :total_score %>
  </p>
  <p>
    <%= f.label :rq_score %><br />
    <%= f.text_field :rq_score %>
  </p>

  <%# todo: paginate %>

  <% f.fields_for :response do |r| %>
    <%# Assemble response form from properties of the associated question %>
  	<%= r.label :value r.object.question.text %><br />
	<%# todo: jQueryUI slider %>
	<%= r.select :value, 1..10 %>
	<%= r.hidden_field :question_id, :value => r.object.question.id %>
	<br /><br />
  <% end %>

  <p><%= f.submit "Submit" %></p>

<% end %>
