<% title "Surveys" %>
<p>Download CSVs: <%= link_to "surveys", :controller => 'surveys', :action => 'csv' %> | <%= link_to "e-mails", :controller => 'surveys', :action => 'email' %></p>

<%= will_paginate(@surveys) %>
<table>
  <tr>
    <th>Date Taken</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Total Score</th>
    <th>Rq Score</th>
  </tr>
  <% if @surveys.nil? %>
	  <tr><td>No Surveys Found</td></tr>
  <% else %>
    <% for survey in @surveys %>
      <tr>
	    <td><%= survey.created_at.strftime("%b %d %Y") %></td>
        <td><%=h survey.first_name %></td>
        <td><%=h survey.last_name %></td>
        <td><%=h survey.email %></td>
        <td><%=h survey.total_score %></td>
        <td><%=h survey.rq_score %></td>
        <td><%= link_to "View", survey %></td>
        <td><%= link_to "Adjust", edit_survey_path(survey), :confirm => 'Are you sure you want to modify this survey?' %></td>
        <td><%= link_to "Delete", survey, :confirm => 'Are you sure you want to delete this survey?', :method => :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p><%= link_to "New Survey", new_survey_path %></p>
