<% title "RI Assessment Results" %>

<hr />

<p>
  <strong>Name:</strong>
  <%=h @survey.first_name %> 
  <%=h @survey.last_name %>
</p>
<p>
  <strong>Email:</strong>
  <%=h @survey.email %>
</p>

<div class="chart">
  <img class="chart" src="http://chart.apis.google.com/chart?chs=220x100&chf=bg,s,333333&chco=771111,444411,117711,114444,111177&cht=gom&chl=You&chd=t:<%=h @survey.normalized_score %>" />
</div>

<p>
  <strong>RQ Score:</strong>
  <%=h @survey.normalized_score %>
  <%# todo: helper functions / or use the class out there %>
</p>
<p><small>Your Normalized RQ Score represents your relational intelligence measured on a scale from 1 to 100.
This number is an absolute rating and has no correlation to the general population.</small></p>

<!--
<p>
  <strong>Standardized RQ:</strong>
  <%=h @survey.std_rq %>
</p>
<p><small>Your Standardized RQ is a rough approximation of what your score might be if this assessment were
scored like a standard IQ test.  A score of 100 represents an average person on this scale</small></p>
-->

<!-- Categories -->
<% 
  # This is what happens when a perl programmer finally learns ruby
  cs = @survey.category_scores 
  cs_colors = %w(CCCCBB 994433 553388 998833 449955 0C0C33 DD6633)
  cs_legend = ( (Category.all.sort { |x,y| x.id <=> y.id } ).collect { |x| x.title } )

%>

<div class="chart">
  <img class="chart" src="http://chart.apis.google.com/chart?chs=500x150&chxt=y&chf=bg,s,333333&chco=<%= cs_colors.join("|") %>&cht=bhs&chbh=a&chd=t:<%= cs.compact.join(",") %>&chdl=<%=h cs_legend.join("|") %>" /> 
</div>

<p>
  <strong>Category Breakdown</strong>
</p>
<p><small>The chart above shows a breakdown of the seven distinct components of your relational quotient
score as it correlates to
 <em><a href="http://www.amazon.com/Relational-Intelligence-Leaders-Influence-Leadership/dp/047043869X/ref=sr_1_1?ie=UTF8&s=books&qid=1252890895&sr=8-1" target="_blank">Relational Intelligence</a></em>
 by Steve Saccone.  Your results can offer a picture of what your strengths and weaknesses are in relational
 intelligence.  <br/><br/> In effort to take next steps to grow your personal life, we suggest reading or re-reading the 
 chapters in the book that correlate with the areas of both strength and weakness from your RQ score so that
 you can develop an action plan for growth.  In addition, there are workshops and consulting offered through 
 the book's website: <a href="http://www.relationalintelligence.info">www.relationalintelligence.info</a>
</small></p>

<!-- Age Scatter (tba) -->

<%
  # scatter_str = "";
  # scatter_points = @survey.scatter

  # scatter.each_index |x|
    # scatter_str .= "#{x},#{scatter_points[x]}"
  # end
%>

<!-- 
<div class="chart">
  <img src="http://chart.apis.google.com/chart?chs=220x115&chf=bg,s,272830&chco=771111,444411,117711,114444,111177&cht=gom&chl=You&chd=t:<%=h @survey.normalized_score %>" border=0 />
</div>
-->



<!--
<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
-->
